html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    overflow-x: auto; /* Cho phép cuộn ngang trên điện thoại */
  }
}
#root {
  flex: 1; /* Chiếm toàn bộ không gian còn lại */
}

footer {
  margin-top: auto; /* Đẩy footer xuống dưới cùng */
}
